body {
    font-family: 'sans-serif';
    background-color: linen;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    font-family: 'sans-serif';
    text-decoration: none;
    color:#345f89;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-family: 'sans-serif';
    color: #345f89;
    font-size: 3em;
}
h2 {
    font-family: 'sans-serif';
    font-size:2em;
    color: #46976c;
p {
    font-family: 'sans-serif';
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    font-family: 'sans-serif';
    border-top: 4px solid #46976f;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
