<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="index.md">Home</a></li>
	        	<li><a href="About.md" onclick="window.open('About.me', '_self');">About</a></li>
        		<li><a href="/Page3">Page 3</a></li>
        		<li><a href="/Page4">Page 4</a></li>
    		</ul>
		</nav>
		<div class="container">
			
   		{{ content }}
			
		</div><!-- /.container -->
		
		<footer>
			<p>Columbia Basin Water Hub</p>
		</footer>
	</body>
</html>
